---
title: Erie Day of Code 2018
---

<div class="landing-screen">
  <section id="mailing-list-signup">
    <div class="container">
      <h1>Stay up to Date</h1>
      <h3>Subscribe to our mailing list for updates and ticket sales</h3>
      <form action="<%= mailing_list_url %>"
            id="mailing-list-subscribe-form"
            class="form"
            method="post"
            name="mc-embedded-subscribe-form"
            target="_blank">
            <div class="form-group row">
              <label class="sr-only" for="email">Email Address</label>
              <div class="col-lg-8">
                <input type="email"
                       class="form-control form-control-lg"
                       id="email"
                       name="EMAIL"
                       placeholder="Enter Email Address">
              </div>

              <div class="col-lg-4">
                <input class="btn btn-primary btn-block btn-lg"
                       name="subscribe"
                       type="submit"
                       value="Subscribe" />
              </div>
            </div>

            <div style="position: absolute; left: -5000px;">
              <input name="b_3fcd98d64025f034a082fe384_bb907d9e18"
                     tabindex="-1"
                     type="text" />
            </div>
      </form>
    </div>
  </section>

  <section id="speakers" class="speakers">
    <div class="container">
      <h1>Speakers</h1>

      <% data.speakers.each_slice(2) do |pair| %>
        <div class="row">
          <% pair.each_with_index do |speaker, i| %>
            <div class="col-md-5 <%= "offset-md-2" if i != 0 %>">
              <article class="speaker">
                <div class="speaker--photo-container">
                  <a class="speaker--photo-link" href="<%= twitter_profile(speaker.twitter) %>" target="_blank">
                    <%= image_tag speaker.image, class: 'speaker--photo', alt: speaker.name %>
                  </a>
                  <h3 class="speaker--name">
                    <%= link_to speaker.name, twitter_profile(speaker.twitter), target: '_blank' %>
                  </h3>
                </div>
                <h4 class="speaker--talk-title">
                  <%= speaker.talk_title %>
                </h4>
                <div class="speaker--blurb">
                  <%= md_text(speaker.about) %>
                </div>
              </article>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <section id="venue" class="venue">
    <div class="container">
      <h1>Venue</h1>
      <div class="row">
        <div class="col-lg-6">
          <h2 class="name"><%= link_to venue.name, venue.url, target: '_blank' %></h2>

          <p>
          The Erie Art Museum is one of the best places in Erie to hold events.
          The historic downtown gallery building blows out to include an enormous
          modern architectural wing with an event space and café. The building Spans
          most of the block between 4th and State St., and 5th and French St.
          The conference entrance will be through the large glass doors of the
          Wave Café on 5th street. Once inside, the large gallery hall with the main
          stage for Erie Day of Code will be immediately to your left.
          You're more than welcome to check out the various collections at the museum
          during intermissions or lunch the conference for free!
          </p>
        </div>
        <div class="col-lg-6">
          <%= image_tag 'eam-shot.jpg', alt: venue.name, title: venue.name, class: 'venue-photo'%>
          <address class="caption">
            <a href="<%= venue_map_url %>" title="Click for Map" target="_blank">
              <%= venue.street %> <%= venue.address_line %>
            </a>
          </address>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="sponsors">
    <div class="container">
      <h1>Sponsors</h1>

      <h4 class="prospectus-text site-notice">
        Interested in sponsoring?  Check out our
        <%= link_to 'Prospectus', "/edoc2018-prospectus.pdf", class: 'prospectus-link', target: '_blank' %>
        for information.
      </h4>


      <section id="sponsor-partners" class="sponsor-level">
        <h1 class="sponsor--title">Partners</h1>
        <div class="row">
          <% data.sponsors.partners.each do |s| %>
            <div class="col-lg-5 offset-lg-1">
              <article class="sponsor">
                <% link_to s.url, target: '_blank' do %>
                  <%= image_tag "sponsors/#{s.logo}", alt: s.name, title: s.name, class: 'logo' %>
                <% end %>
              </article>
            </div>
          <% end %>
        </div>
      </section>

      <section id="sponsor-plantinum" class="sponsor-level">
        <h1 class="sponsor--title">Platinum</h1>
        <div class="row">
          <% data.sponsors.platinum.each do |s| %>
            <div class="col-lg-8 offset-lg-2">
              <article class="sponsor">
                <% link_to s.url, target: '_blank' do %>
                  <%= image_tag "sponsors/#{s.logo}", alt: s.name, title: s.name, class: 'logo' %>
                <% end %>
              </article>
            </div>
          <% end %>
        </div>
      </section>

      <section id="sponsor-gold" class="sponsor-level">
        <h1 class="sponsor--title">Gold</h1>
        <div class="row">
          <% data.sponsors.gold.each do |s| %>
            <div class="col-lg-8 offset-lg-2">
              <article class="sponsor">
                <% link_to s.url, target: '_blank' do %>
                  <%= image_tag "sponsors/#{s.logo}", alt: s.name, title: s.name, class: 'logo' %>
                <% end %>
              </article>
            </div>
          <% end %>
        </div>
      </section>

      <section id="sponsor-silver" class="sponsor-level">
        <h1 class="sponsor--title">Silver</h1>
        <div class="row">
          <% data.sponsors.silver.each do |s| %>
            <div class="col-lg-8 offset-lg-2">
              <article class="sponsor">
                <% link_to s.url, target: '_blank' do %>
                  <%= image_tag "sponsors/#{s.logo}", alt: s.name, title: s.name, class: 'logo' %>
                <% end %>
              </article>
            </div>
          <% end %>
        </div>
      </section>

      <section id="sponsor-bronze" class="sponsor-level">
        <h1 class="sponsor--title">Bronze</h1>
        <div class="row">
          <% data.sponsors.bronze.each do |s| %>
            <div class="col-lg-4 offset-lg-4">
              <article class="sponsor">
                <% link_to s.url, target: '_blank' do %>
                  <%= image_tag "sponsors/#{s.logo}", alt: s.name, title: s.name, class: 'logo' %>
                <% end %>
              </article>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </section>

  <section class="more-info">
    <div class="container">
      <h3 class="more-info--title">More information to be announced soon!</h3>
    </div>
  </section>
</div>

