---
title: Erie Day of Code 2018
---

<div class="landing-screen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <section class="cfp">
          <h1>Call for Papers</h1>
          <p>Open until January 7, 2018</p>
          <p class="">
            <%= link_to "Submit Your Proposal Now!", cfp_url, class: "cta btn btn-primary btn-lg", target: "_blank" %>
          </p>
        </section>
      </div>

      <div class="col-lg-6">
        <section class="tickets">
          <h1>Blind Bird Tickets</h1>
          <p>Best savings for trusting us to make this conference awesome!</p>
          <p class="">
            <%= link_to "Buy Yours Now!", tickets_url, class: "cta btn btn-primary btn-lg", target: "_blank" %>
          </p>
      </div>
    </div>

    <section class="archive">
      <h1>Check Out Past Years</h1>
      <div class="row">
        <% data.archive.each do |past_year| %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">EDoC <%= past_year.year %></h4>
                <% if !past_year.playlist_url.empty? %>
                  <a class="card-link" href="<%= past_year.playlist_url %>">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    Watch Videos
                  </a>
                <% end %>

                <a class="card-link" href="<%= past_year.url %>">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  View Website
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <section id="mailing-list-signup">
          <h1>Stay up to Date</h1>
          <h3>Subscribe to our mailing list for updates and ticket sales</h3>
          <form action="<%= mailing_list_url %>"
                id="mailing-list-subscribe-form"
                class="form"
                method="post"
                name="mc-embedded-subscribe-form"
                target="_blank">
                <div class="form-group row">
                  <label class="sr-only" for="email">Email Address</label>
                  <div class="col-lg-8">
                    <input type="email"
                           class="form-control form-control-lg"
                           id="email"
                           name="EMAIL"
                           placeholder="Enter Email Address">
                  </div>

                  <div class="col-lg-4">
                    <input class="btn btn-primary btn-block btn-lg"
                           name="subscribe"
                           type="submit"
                           value="Subscribe" />
                  </div>
                </div>

                <div style="position: absolute; left: -5000px;">
                  <input name="b_3fcd98d64025f034a082fe384_bb907d9e18"
                         tabindex="-1"
                         type="text" />
                </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>

